# Ignore Python cache files
__pycache__/
*.pyc

# Ignore .evn files
*.env

# Ignore logs folder
logs/

# Ignore data files
raw_data/
repartition/

# Ignore jupyter checkpoints
.ipynb_checkpoints/

# Ignore MinIO file
*.minio.sys
minio_data/
!minio_data
!minio_data/minio.Dockerfile