# Ignore Python cache files
__pycache__/
*.pyc

# Ignore jupyter checkpoints
.ipynb_checkpoints/

# Ignore MinIO file
*.minio.sys
minio_data/iceberg
minio_data/nyc-project

# Ignore Postgres files
/postgres/
!/postgres/init