# Ignore Python cache files
__pycache__/
*.pyc

# Ignore .evn files
*.env
!./env

# Ignore logs folder
logs/

# Ignore jupyter checkpoints
.ipynb_checkpoints/

# Ignore MinIO file
*.minio.sys
minio_data/iceberg
minio_data/nyc-project